{% extends 'base.html.twig' %}

{% block title %}Cv index{% endblock %}

{% block body %}
    <h1>Cv index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCv</th>
                <th>Title</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Street</th>
                <th>StreetNumber</th>
                <th>Locality</th>
                <th>PostalCode</th>
                <th>Mail</th>
                <th>PhoneNumber</th>
                <th>Anniversary</th>
                <th>CreationDate</th>
                <th>Presentation</th>
                <th>PublishedAt</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cv in cvs %}
            <tr>
                <td>{{ cv.idCv }}</td>
                <td>{{ cv.title }}</td>
                <td>{{ cv.name }}</td>
                <td>{{ cv.lastname }}</td>
                <td>{{ cv.street }}</td>
                <td>{{ cv.streetNumber }}</td>
                <td>{{ cv.locality }}</td>
                <td>{{ cv.postalCode }}</td>
                <td>{{ cv.mail }}</td>
                <td>{{ cv.phoneNumber }}</td>
                <td>{{ cv.anniversary ? cv.anniversary|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cv.creationDate ? cv.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cv.presentation }}</td>
                <td>{{ cv.publishedAt ? cv.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cv.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('cv_show', {'idCv': cv.idCv}) }}">show</a>
                    <a href="{{ path('cv_edit', {'idCv': cv.idCv}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cv_new') }}">Create new</a>
{% endblock %}
