{% extends 'base.html.twig' %}

{% block title %}Cv{% endblock %}

{% block body %}
    <h1>Cv</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdCv</th>
                <td>{{ cv.idCv }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ cv.title }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ cv.name }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ cv.lastname }}</td>
            </tr>
            <tr>
                <th>Street</th>
                <td>{{ cv.street }}</td>
            </tr>
            <tr>
                <th>StreetNumber</th>
                <td>{{ cv.streetNumber }}</td>
            </tr>
            <tr>
                <th>Locality</th>
                <td>{{ cv.locality }}</td>
            </tr>
            <tr>
                <th>PostalCode</th>
                <td>{{ cv.postalCode }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ cv.mail }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ cv.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Anniversary</th>
                <td>{{ cv.anniversary ? cv.anniversary|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ cv.creationDate ? cv.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Presentation</th>
                <td>{{ cv.presentation }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ cv.publishedAt ? cv.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ cv.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('cv_index') }}">back to list</a>

    <a href="{{ path('cv_edit', {'idCv': cv.idCv}) }}">edit</a>

    {{ include('cv/_delete_form.html.twig') }}
{% endblock %}
