{% extends 'base.html.twig' %}

{% block title %}Hobbies index{% endblock %}

{% block body %}
    <h1>Hobbies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdHobbie</th>
                <th>CreationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hobby in hobbies %}
            <tr>
                <td>{{ hobby.idHobbie }}</td>
                <td>{{ hobby.creationDate ? hobby.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('hobbies_show', {'idHobbie': hobby.idHobbie}) }}">show</a>
                    <a href="{{ path('hobbies_edit', {'idHobbie': hobby.idHobbie}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('hobbies_new') }}">Create new</a>
{% endblock %}
