{% extends 'base.html.twig' %}

{% block title %}TypeCv index{% endblock %}

{% block body %}
    <h1>TypeCv index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdTypeCv</th>
                <th>Name</th>
                <th>CreationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_cv in type_cvs %}
            <tr>
                <td>{{ type_cv.idTypeCv }}</td>
                <td>{{ type_cv.name }}</td>
                <td>{{ type_cv.creationDate ? type_cv.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('type_cv_show', {'idTypeCv': type_cv.idTypeCv}) }}">show</a>
                    <a href="{{ path('type_cv_edit', {'idTypeCv': type_cv.idTypeCv}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_cv_new') }}">Create new</a>
{% endblock %}
