{% extends 'base.html.twig' %}

{% block title %}Websites{% endblock %}

{% block body %}
    <h1>Websites</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdWeb</th>
                <td>{{ website.idWeb }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ website.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ website.slug }}</td>
            </tr>
            <tr>
                <th>Descn</th>
                <td>{{ website.descn }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ website.creationDate ? website.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PublishedAt</th>
                <td>{{ website.publishedAt ? website.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ website.active ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('websites_index') }}">back to list</a>

    <a href="{{ path('websites_edit', {'idWeb': website.idWeb}) }}">edit</a>

    {{ include('websites/_delete_form.html.twig') }}
{% endblock %}
