{% extends 'base.html.twig' %}

{% block title %}Portfolios index{% endblock %}

{% block body %}
    <h1>Portfolios index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdPortfolio</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Descn</th>
                <th>CreationDate</th>
                <th>PublishedAt</th>
                <th>Active</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolio in portfolios %}
            <tr>
                <td>{{ portfolio.idPortfolio }}</td>
                <td>{{ portfolio.name }}</td>
                <td>{{ portfolio.slug }}</td>
                <td>{{ portfolio.descn }}</td>
                <td>{{ portfolio.creationDate ? portfolio.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ portfolio.publishedAt ? portfolio.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ portfolio.active ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('portfolios_show', {'idPortfolio': portfolio.idPortfolio}) }}">show</a>
                    <a href="{{ path('portfolios_edit', {'idPortfolio': portfolio.idPortfolio}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('portfolios_new') }}">Create new</a>
{% endblock %}
