{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}


<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Create new User
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{ include('user/_form.html.twig') }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Add a photo profil for your user (optional)
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        {{ include('galleries/_form.html.twig') }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Create your Portfolio (First step to create your webportfolio)
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        {{ include('portfolios/_form.html.twig') }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Input your first data to make your private space
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        {{ include('cv/_form.html.twig') }}
      </div>
    </div>
  </div>
</div>

            <div id="formAjaxFeedback">
                <a role="button" data-toggle="collapse" data-parent="#feed-establishment" href="#form-panel-errors" aria-expanded="false" aria-controls="form-panel-errors">
                    <div id="form-ajax-alert" class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                        <span class="alert-message">Attention!</span>
                    </div>
                </a>
                <div id="form-ajax-confirm" class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    <span class="alert-message">Vos informations ont bien été enregistrées.</span>
                </div>
                <div id="form-ajax-loading" class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="glyphicon glyphicon-repeat normal-right-spinner" aria-hidden="true"></span>
                    <span class="alert-message">Envoi...</span>
                </div>
            </div>

    <a href="{{ path('user_index') }}">back to list</a>
<button type="submit" class="btn btn-primary" data-label="Enregistrer">
				Enregistrer
			</button>

{% block javascripts %} 
 {{ parent() }}
 <script src="{{ asset('build/form-validation.js') }}"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
   <script language = "javascript">  


 $(document).on('submit', 'form', function(e){
    // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
    e.preventDefault();        
    $form = $(e.target);
    var $formDataButton = $(this);

    $form.ajaxSubmit({
            type: 'post',
            success: function(data) {
              if (data == 'ok') {
                alert('ok');
              } else {
                
              }
            },
            error: function(jqXHR, status, error) {
                alert('formulaire incomplet');
            }
          });
 });

      
   </script> 
{% endblock %}  


{% endblock %}
