{% extends 'base.html.twig' %}

{% block title %}New Portfolios User{% endblock %}

{% block body %}


{{ form_start(form) }}

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Create new User
        </button>
      </h5>
    </div>
    <div class="category">
    {{ form_row(form.user.email) }}
    {{ form_row(form.user.password) }}
  </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Add a photo profil for your user (optional)
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          {{ form_row(form.gallery.filename) }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Create your Portfolio (First step to create your webportfolio)
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form_row(form.cvs.name) }}
          </div>
          <div class="form-group col-md-6">
            {{ form_row(form.cvs.lastname) }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form_row(form.cvs.street) }}
          </div>
          <div class="form-group col-md-6">
            {{ form_row(form.cvs.streetNumber) }}
          </div>
        </div>
        <div class="form-group">
          {{ form_row(form.cvs.idCountry) }}
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form_row(form.cvs.locality) }}
          </div>
          <div class="form-group col-md-4">
            {{ form_row(form.cvs.idDepartment) }}
          </div>
          <div class="form-group col-md-2">
            {{ form_row(form.cvs.postalCode) }}
          </div>
           <div class="form-group col-md-12">
            {{ form_row(form.cvs.idWorkingLicense) }}
          </div>
      </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Input your first data to make your private space
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form_row(form.name) }}
          </div>
          <div class="form-group col-md-6">
            {{ form_row(form.cvs.title) }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            {{ form_row(form.descn) }}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            {{ form_row(form.cvs.idTypeCv) }}
          </div>
        </div>
        <div class="form-group">
        {{ form_row(form.cvs.presentation) }}
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
        {{ form_row(form.cvs.mail) }}
          </div>
          <div class="form-group col-md-4">
        {{ form_row(form.cvs.phoneNumber) }}
          </div>
          <div class="form-group col-md-2">
        {{ form_row(form.cvs.anniversary) }}
      </div>

      </div>
    </div>
  </div>
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %} 
 {{ parent() }}
{% endblock %}  


{% endblock %}
