{% block stylesheets %} 
<link href="{{ asset('build/header.css') }}" rel="stylesheet" />
{% endblock %}

<div class='header'>
        <a href="{{ path('homepage') }}" class="logo">
            <img src="{{asset('build/static/logo-kenny.png')}}" title="my image" alt="My image">
        </a>
        <div class="header-right">
           
            <a  href="{{ path('homepage') }}">Home</a>
            <a href="{{ path('contact') }}">Contact</a>
            <a href="{{ path('about') }}">About</a>
            
            {% if user.id is defined %}
                <a href="/user/{{user.id}}/portfolio">Mon epace privé</a>
            {% else %}
                <a href="{{ path('app_login') }}">Mon epace privé</a>
            {% endif %}
        </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('website') }}">My Websites</a>
        </li>  
    <!-- start menu portfolio -->
        {% if user.id is defined %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/user/{{user.id}}/portfolio" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- start objet portfolio -->
                <a class="dropdown-item" href="/user/{{user.id}}/portfolio#id_resume">CV</a>
                <a class="dropdown-item" href="/user/{{user.id}}/portfolio#id_portfolio">Mes projets</a>
                <a class="dropdown-item" href="/user/{{user.id}}/portfolio#id_about">A propos</a>
            <!-- end objet portfolio -->
            <!-- <div class="dropdown-divider"></div> -->
            </div>
            </li>
        {% endif %}

            {% if user.email is defined %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/user/{{user.id}}/portfolio" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.email }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/user/{{user.id}}/">Afficher le profil</a>
                        <a class="dropdown-item" href="/user/{{user.id}}/edit">Modifier les informations</a>
                        <a class="dropdown-item" href="/logout">Déconnexion</a>
                        <!-- <div class="dropdown-divider"></div> -->
                    </div>
                </li>
            {% endif %}
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </nav>
{% block javascripts %}
         <script src="{{ asset('build/header.js') }}"></script>
{% endblock %}